<div class='container-profil' style="background-color:#F3D0FF;text-align:center">

  <div class="navbar-picture mb-3" style="height: 56px;">
    <i class="fas fa-chevron-left" style="font-size: 25px;"></i>
  </div>

  <div class='intro mb-5'>
    <div class='user-photo'>
      <img class="avatar-profil" alt="avatar-profil" src="https://avatars.githubusercontent.com/u/95220236?v=4">
    </div>
    <div class='name'>
      <h1><%= @user.first_name %> <%= @user.last_name %></h1>
    </div>
    <div class='job'>
      <h2><%= @user.job_wanted %></h2>
    </div>
    <div class='experience'>
      <h4><%= @user.years_of_experience %> ans d'expérience</h3>
    </div>
  </div>

  <div class='values'>
    <% @user.skills.valeurs.each do |skill| %>
       <%= skill.name %>
    <% end %>
  </div>

  <div class='languages d-flex justify-content-center'>
    <% @user.all_languages.each do |language| %>
      <div class='language-each mx-2'>
        <%= language %>
      </div>
    <% end %>
  </div>


  <div class='skills'>
    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item" role="presentation">
        <button class="nav-link active" id="soft-skills-tab" data-bs-toggle="tab" data-bs-target="#soft-skills" type="button" role="tab" aria-controls="soft-skills" aria-selected="true">Soft Skills</button>
      </li>
      <li class="nav-item" role="presentation">
        <button class="nav-link" id="hard-skills-tab" data-bs-toggle="tab" data-bs-target="#hard-skills" type="button" role="tab" aria-controls="hard-skills" aria-selected="false">Hard Skills</button>
      </li>
    </ul>


    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="soft-skills" role="tabpanel" aria-labelledby="soft-skills-tab">
        <ul style="list-style: none; padding-left:0px">
          <% @user.skills.soft_skills.each do |skill| %>
            <li><%= skill.name %></li>
          <% end %>
        </ul>
      </div>
      <div class="tab-pane fade" id="hard-skills" role="tabpanel" aria-labelledby="hard-skills-tab">
        <ul style="list-style: none; padding-left:0px">
          <% @user.skills.hard_skills.each do |skill| %>
            <li><%= skill.name %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>

<div data-controller="skill">
  <button data-action="click->skill#toggle">Ajouter une compétence</button>

  <div data-skill-target="form" class="d-none">
    <%= simple_form_for @user_skill do |f| %>
      <%= f.input :skill, collection: Skill.all.reject{|skill| UserSkill.find_by(skill: skill, user: current_user)}, as: :check_boxes, input_html: { class: "skill-selector" },
            item_wrapper_class: 'skill-item' %>
      <%= f.submit "+", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>

</div>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <%= simple_form_for @user_skill do |f| %>
            <%= f.association :skill %>
            <%= f.submit "+", class: "btn btn-primary" %>
          <% end %>
          <% current_user.skills.each do |skill| %>
            <%= skill.name %>
          <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
