<div class="navbar-picture mb-3" style="height: 56px;">
   <i class="fas fa-chevron-left" style="font-size: 25px;"></i>
</div>

<div class='container-profil'>
  <div>
    <img class="avatar-profil" alt="avatar-profil" src="https://kitt.lewagon.com/placeholder/users/arthur-lit">
    <h1><%= @user.first_name %></h1>
    <h2><%= @user.job_wanted %></h2>
    <h3> Depuis <%= @user.years_of_experience %> ans</h3>
  </div>

  <div>
   les valeur ici <%= @user %>
  </div>

  <div>
    les languages parlé <%= @user %>
  </div>



  <div>
    <%= simple_form_for @user_skill do |f| %>
      <%= f.association :skill %>
      <%= f.submit "+", class: "btn btn-primary" %>
    <% end %>
    <% current_user.skills.each do |skill| %>
    <p><%= skill.name %> </p>
    <% end %>
  </div>
</div>
