<div class="home-container" style="background-color: #F3D0FF;">
 <%# <%= link_to "SIGN OUT", destroy_user_session_path, method: :delete, class: "ms-5" if current_user%>
  <div class="logout-icon">
    <% if current_user %>
      <%= link_to destroy_user_session_path, method: :delete, class: "ms-5" do %>
          <i class="fas fa-sign-out-alt"></i>
      <% end %>
    <% end %>
  </div>
 <i class="fa-solid fa-arrow-right-from-bracket"></i>

  <div class="d-flex align-items-center" style="align-self: flex-start;">
      <img class="avatar-home" alt="avatar-large" src="https://avatars.githubusercontent.com/u/95220236?v=4">
      <h1 class="hello-title">Hello Aurore</h1>
  </div>
<p class="hello-paragraph">Trouvez le job de vos rêves</p>

    <%= simple_form_for :search, url: job_offers_path, method: :get, :html=> { class: 'form-inline' } do |f|  %>
      <div class="form-container">
          <%= f.input :job_title, label: false, placeholder: 'Quel job recherchez-vous ?' %>
          <%= f.input :city, label: false, placeholder: 'Dans quelle ville ?' %>
          <%= f.input :contracttype, label: false, placeholder: 'Quel type de contrat ?' %>
        <%= button_tag :submit, class: "yellow-btn mt-3" do %>
            <%# <i class="fas fa-search"></i> %>
            <p class="m-0">Let's Swipe</p>
        <% end %>
    <% end %>
</div>








  <%# <div class="container-follow mt-4">
    <h2>Entreprises à suivre</h2>
    <div class="card-product d-flex justify-content-around mt-4">
      <img src="https://www.trouverunassureur.com/wp-content/uploads/2018/12/logo-lydia.jpg" />
      <img src="https://media.glassdoor.com/sqll/2866657/brigad-squarelogo-1560766065791.png" />
      <img src="https://pbs.twimg.com/profile_images/946661478630940673/BzlIV0Ls_400x400.jpg" />
    </div>
  </div> %>

  <%# <div class="container mt-4">
    <h2>Formations partenaire</h2>
    <div class="card-product mt-3 mb-3">
      <img src="https://pbs.twimg.com/profile_images/1411940871575064576/ySvn5TyT_400x400.jpg" />
      <div class="card-product-infos">
        <h2>Le Wagon</h2>
        <p>Formation Développeur Web <strong>Bootcamp intensif à Paris, 9 semaines</strong></p>
      </div>
    </div>
    <div class="card-product">
      <img src="https://storage.googleapis.com/uptoo-assets/assets/images/logos/uptoo/logo_uptoo_jobs.png" />
      <div class="card-product-infos">
        <h2>Product name</h2>
        <p>Formation Business Developer <strong>Prospection, découverte, négociation, leadership</strong></p>
      </div>
    </div>
  </div>
</div> %>
