<div class="home-container" style="background-color: ghostwhite;">
  <div class="d-flex align-items-center" style="align-self: flex-start;">
      <img class="avatar-home" alt="avatar-large" src="https://files.helpdocs.io/zqc32mkmew/logo.png?t=1608128023138">
      <h1 class="questions-title">Questions</h1>
  </div>
  <p class="questions-paragraph">Aidez votre recruteur à vous connaître en quelques mots en répondant à ces questions :</p>

      <%= simple_form_for @match, :html=> { class: 'foobarbaz' } do |f| %>
        <div class="form-container">
          <%= f.input :answer1, label: @match.job_offer.question1 %>
          <%= f.input :answer2, label: @match.job_offer.question2 %>
          <%= f.input :answer3, label: @match.job_offer.question3 %>
          <%= f.submit "Envoyer", class: "btn" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
