
<div class= "h-100" style="background-color: #1E2CFB" >
  <div class="navbar-picture" style="height: 56px;">
    <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-lit">
  </div>
  <div class="container-question-page">

    <div class= "h-100" style="color: #F3D0FF" >
      <h2 style= "font-size: 40px">Questions</h2>
      <p>Aider votre recruteur à vous connaître en 3 mots !</p>
    </div>

    <%= simple_form_for @match, :html=> { class: 'foobarbaz' } do |f| %>
      <%= f.input :answer1, label: @match.job_offer.question1 %>
      <%= f.input :answer2, label: @match.job_offer.question2 %>
      <%= f.input :answer3, label: @match.job_offer.question3 %>
      <%= f.submit "Envoyer", class: "btn" %>
    <% end %>
  </div>
</div>
