<div class="navbar-picture d-flex justify-content-end" style="height: 56px;">
  <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-lit">
</div>
<div class="container-question-page">

  <h2>Questions</h2>
  <p>Aider votre recruteur à vous connaître en 3 mots !</p>


  <%= simple_form_for @match, :html=> { class: 'foobarbaz' } do |f| %>
    <%= f.input :answer1, label: @match.job_offer.question1 %>
    <%= f.input :answer2, label: @match.job_offer.question2 %>
    <%= f.input :answer3, label: @match.job_offer.question3 %>
    <%= f.submit "Envoyer", class: "btn" %>
  <% end %>
</div>
