<div class="scroll" style="background-color: #F3D0FF; padding: 60px 35px;">
    <div class="d-flex align-items-center mb-4" style="align-self: flex-start; padding-top: 1px;">
      <img class="avatar-home" alt="avatar-large" src="https://avatars.githubusercontent.com/u/95220236?v=4">
      <h1 class="hello-title">Mon Dashboard</h1>
    </div>

    <div class="container-follow-3">
      <h2 class= "dashboard-title">Mes appels à planifier</h2>
      <div class="card-dashboard-wait d-flex justify-content-start">
        <% if @validating_matches.empty?  %>
        <p class="question-dash">Vous n'avez pas de questions validées</p>
        <% else  %>
          <% @validating_matches.each do | match | %>
            <div class= "div-notification" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <div class= "button-notification"> 1 </div>
              <img src="https://files.helpdocs.io/zqc32mkmew/logo.png?t=1608128023138"/>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="container-follow mt-3">
      <h2 class= "dashboard-title">Mes appels confirmés </h2>
      <% unless @accepted_matches.empty? %>
        <div class="card-dashboard d-flex">
          <% @accepted_matches.each do |match| %>
            <div class= "div-notification d-flex align-items-center" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
              <img src="https://files.helpdocs.io/zqc32mkmew/logo.png?t=1608128023138"/>
              <div>
                <strong><p class="call"> Product Owner </p></strong>
                <p class="call">14 Mars 2022 - 16h</p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <div class="card-dashboard d-flex">
     <img src="https://backoffice.ccistore.fr/uploads/eservice/logo/1611934131450.png" />
      <div>
        <p class="call"> Product Manager </p>
        <p class="call">16 Mars 2022 - 13h</p>
      </div>
    </div>
    <div class="calendar-container mt-4">
    <%# <h2 class= "dashboard-title">Mon agenda </h2> %>
      <%= month_calendar(events: @matches, attribute: :callbooking) do |day , match| %>
      <%= day %>
      <%='Pulp' if day == 16 %>
      <%= '13:00' if day == 16 %>
      <%= match.first.job_offer.company.name if match.any? %>
      <%= match.first.callbooking.strftime('%H:%M') if match.any? %>
      <% end %>
    </div>
  </div>

  <!--MODAL-->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog m-0">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Sélectionnez un horaire</h5>
        </div>
        <div class="modal-body">
            <div class="btn-book">
              <%= link_to "14/03/22- 16h/16h30", book_date_path %>
            </div>
            <div class="btn-book">
              <%= link_to "15/03/22- 14h30/15h", book_date_path %>
            </div>
            <div class="btn-book">
              <%= link_to "17/03/22- 10h30/11h", book_date_path %>
            </div>
            <div class="btn-book">
              <%= link_to "21/03/22- 15h30/16h", book_date_path %>
            </div>
            <div>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">X</button>
            </div>
        </div>
      </div>
    </div>
</div>
