<div class="h-100 " style="background-color: #F3D0FF;">
  <div class='swipe-container' data-controller="swipe">

    <div class="cards-container justify-content-around">
      <% @job_offers.each do |job_offer| %>
        <div class="job-offer-card" data-swipe-target="card" data-id="<%= job_offer.id %>">
          <div class="like-icon liked-unlike"><i class="check-icon fas fa-check" data-swipe-target="like"></i></div>
          <div class="unlike-icon liked-unlike"><i class="cross-icon fas fa-times" data-swipe-target="dislike"></i></div>
            <div class="container-head">
              <div>
                <p class="title-index-job"><strong><%= job_offer.job_title %></strong></p>
                <p class="title-index-company"><%= job_offer.company.name %></p>
              </div>
              <%= cl_image_tag job_offer.photo.key, class:"avatar-head" %>
            </div>

            <ul style="list-style: none;padding: 8px;margin: 15px;">
                <%# <li class="container-li">Soft skills </li> %>
                <div class="container-skill d-flex justify-content-start">
                  <% job_offer.soft_skills.each do |soft|%>
                    <div class="job-skills"><%= soft.name %></div>
                  <% end %>
                </div>

                <%# <li class="container-li">Hard skills </li> %>
                <div class="container-skill d-flex justify-content-start">
                  <% job_offer.hard_skills.each do |hard| %>
                    <div class="job-skills"><%= hard.name %></div>
                  <% end %>
                </div>

                <%# <li class="container-li">Les valeurs </li> %>
                <div class="container-skill d-flex justify-content-start">
                  <% job_offer.values.each do |value|  %>
                    <div class="job-skills"><%= value.name %></div>
                  <% end %>
                </div>


                <% job_offer.description.split('-').each_with_index do |word, index| %>
                  <% if index == 0 %>
                    <p  class="job-description"><%= word %></p>
                    <ul>
                  <% else %>
                    <li class="job-description <%= "no-puce" if index == 0 %>"><%= word %></li>
                  <% end %>
                <% end %>
              </ul>

              <li><% job_offer.question1 %></li>
              <li><% job_offer.question2 %></li>
              <li><% job_offer.question3 %></li>
            </ul>
          <div class="container d-flex justify-content-around">
            <% link_to 'LIKE', job_offer_user_likes_path(job_offer), method: :post, "data-swipe-target" => "likeBtn" %>
            <% link_to 'DISLIKE', job_offer_user_likes_path(job_offer, dislike: true), method: :post, "data-swipe-target" => "nopeBtn" %>
          </div>
        </div>


      <% end %>
    </div>
  </div>
</div>
