<div class="navbar-picture mb-3" style="height: 56px;">
   <i class="fas fa-chevron-left" style="font-size: 25px;"></i>
  <img class="avatar-large" alt="avatar-large" src="https://kitt.lewagon.com/placeholder/users/arthur-lit">
</div>

<%= console %>

<div class="cards-container justify-content-around" data-controller="swipe">
  <% @job_offers.each do |job_offer| %>
    <div class="job-offer-card" data-swipe-target="card" data-id="<%= job_offer.id %>">

        <ul style="list-style: none;padding: 15px;margin: 20px 0;">
          <li class="mb-2"><strong><%= job_offer.job_title %></strong></li>
          <li class="mb-1"><%= job_offer.city %></li>
          <li class="mb-1"><%= job_offer.contracttype %></li>

          <li class="mb-1">Langues parlées: <%= job_offer.languages %></li>
          <li class="mb-1"><%= job_offer.years_of_experience %> années d'expérience</li>

          <li class="mb-1">Description du poste: <%= job_offer.description %></li>
          <li>
            <%= link_to "Plus d'infos sur cette entreprise", "", class: "btn btn-ghost d-flex justify-content-center" %>
          </li>
          <li><% job_offer.question1 %></li>
          <li><% job_offer.question2 %></li>
          <li><% job_offer.question3 %></li>
        </ul>

        <%= link_to 'LIKE', job_offer_user_likes_path(job_offer), method: :post, "data-swipe-target" => "likeBtn" %>
        <%= link_to 'DISLIKE', job_offer_user_likes_path(job_offer, dislike: true), method: :post, "data-swipe-target" => "nopeBtn" %>
    </div>
  <% end %>
</div>
