<div class='swipe-container' data-controller="swipe">
  <div class="cards-container justify-content-around">
    <% @job_offers.each do |job_offer| %>
      <div class="job-offer-card" data-swipe-target="card" data-id="<%= job_offer.id %>">
          <div class="container-head">
            <%= cl_image_tag job_offer.photo.key, class:"avatar-head" %>
            <p class="title-index mt-5"><strong><%= job_offer.job_title %></strong></p>
            <%#= cl_image_tag artwork.photo.key, height: 300, width: 400, crop: :fill %>
          </div>

          <ul style="list-style: none;padding: 15px;margin: 20px 0;">
              <li class="container-li">Soft skills </li>
              <div class="container-skill">
                <% job_offer.soft_skills.each do |soft|%>
                  <div class="skills"><%= soft.name %></div>
                <% end %>
              </div>

              <li class="container-li">Hard skills </li>
              <div class="container-skill">
                <% job_offer.hard_skills.each do |hard| %>
                  <div class="skills"><%= hard.name %></div>
                <% end %>
              </div>

              <li class="container-li">Les valeurs </li>
              <div class="container-skill">
                <% job_offer.values.each do |value|  %>
                  <div class="skills"><%= value.name %></div>
                <% end %>
              </div>

            <div class="container-skill mt-4 mb-3">
              <li class="mb-1"> <%= job_offer.city %></li>
              <li class="mb-1"> <%= job_offer.contracttype %></li>
              <li class="mb-1"> <%= job_offer.languages %></li>
              <li class="mb-1"> <%= job_offer.years_of_experience %> ans requis</li>
            </div>

            <li class="mb-1"><%= job_offer.description %></li>
            <li>
              <%= link_to "Plus d'infos sur cette entreprise", "", class: "btn btn-outline-dark d-flex justify-content-center mt-4" %>
            </li>
            <li><% job_offer.question1 %></li>
            <li><% job_offer.question2 %></li>
            <li><% job_offer.question3 %></li>
          </ul>

        <div class="container d-flex justify-content-around">
          <% link_to 'LIKE', job_offer_user_likes_path(job_offer), method: :post, "data-swipe-target" => "likeBtn" %>
          <% link_to 'DISLIKE', job_offer_user_likes_path(job_offer, dislike: true), method: :post, "data-swipe-target" => "nopeBtn" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
