<!DOCTYPE html>
<html>
  <head>
    <title>SKILLYApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>
    <div class="container-screen">
      <div class="container-body">

        <%= render 'shared/flashes' %>

        <%= yield %>

      </div>

      <div class="container-tab-bar">
        <% unless controller_name == "registrations" || controller_name == "sessions" %>
          <%= render 'shared/tab-bar' %>
        <% end %>
      </div>
    </div>
  </body>
</html>
